@page "/service/youtube"
@inject IJSRuntime JS
@inject Services.YoutubeService youtubeService
<PageTitle>Youtube Player</PageTitle>

<MudPaper Class="pa-6">
    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="3" Class="mb-4">
        <MudIcon Icon="@Icons.Custom.Brands.YouTube" Color="Color.Error" Size="Size.Large" />
        <MudText Typo="Typo.h5">YouTube Video Player</MudText>
    </MudStack>
    <MudInputString Placeholder="Digite a url do vídeo" Style="width:100%" Label="YouTube Video URL" @bind-Value="mudInputStringValue" FullWidth Margin="Margin.Dense" />
    <br />
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnSelectVideo" Class="mt-4">
        Load Video
    </MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="toFullscreen" Class="mt-4">
        Fullscreen
    </MudButton>
    <MudButton @ondblclick="toPlayFullscreen" Variant="Variant.Filled" Color="Color.Primary" OnClick="ToPlay" Class="mt-4">
        Play
    </MudButton>

    <script>
        var YoutubePage = {
            "toFullscreen": (element) => {
                if (element.requestFullscreen) {
                    element.requestFullscreen();
                } else if (element.mozRequestFullScreen) { // Firefox
                    element.mozRequestFullScreen();
                } else if (element.webkitRequestFullscreen) { // Chrome, Safari and Opera
                    element.webkitRequestFullscreen();
                } else if (element.msRequestFullscreen) { // IE/Edge
                    element.msRequestFullscreen();
                }
            },
            "toPlay": (iframe) => {
                var command = JSON.stringify({
                    'event': 'command',
                    'func': 'playVideo'
                });
                iframe.contentWindow.postMessage(command, '*');
            }

        }
        
    </script>
    <div>
        @if (_videoUrl != null)
        {
            <iframe @ref="objRef" src="@fullVideoUrl" title="YouTube video player" width="400" height="400"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen>
                Your browser does not support iframes.
            </iframe>
        }
    </div>
</MudPaper>

@code {
    public string mudInputStringValue { get; set; } = string.Empty;
    public string? _videoUrl { get; set; } = null;
    public string fullVideoUrl => $"https://www.youtube.com/embed/{ExtractVideoId(_videoUrl)}?enablejsapi=1";
    ElementReference? objRef;
    public string? ExtractVideoId(string url)
    {
        return youtubeService.ExtractId(url);
    }
    public async Task OnSelectVideo()
    {
        _videoUrl = mudInputStringValue;


    }
    public async Task toFullscreen()
    {
        if (objRef.HasValue && _videoUrl != null)
        {
            await JS.InvokeVoidAsync("YoutubePage.toFullscreen", objRef.Value);
        }
    }
    public async Task ToPlay()
    {
        if (objRef.HasValue && _videoUrl != null)
        {
            await JS.InvokeVoidAsync("YoutubePage.toPlay", objRef.Value);
        }
    }
    public async Task toPlayFullscreen()
    {
        if (objRef.HasValue && _videoUrl != null)
        {
            await JS.InvokeVoidAsync("YoutubePage.toFullscreen", objRef.Value);

            await JS.InvokeVoidAsync("YoutubePage.toPlay", objRef.Value);
        }
    }
}



